################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MariasZooServer/MariasZooServer/obj
/MariasZooServer/MariasZooServer/bin/Debug/netcoreapp2.0
.vs/
/MariasZooServer/.vs
/MariasZooClient/.vs